﻿@using WebUI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Добро пожаловать в Личный кабинет!" ;
}
<div class="row">
    <div class="col-md-6">
        <h2><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Выполните вход</h2>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-sm-offset-1 col-sm-11 col-md-10 col-xs-offset-1">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Выполнить вход" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Регистрация нового пользователя", "Register")
                </p>
                <p>
                    @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                </p>
            }
        </section>
    </div>
    <div class="col-md-6 bg-warning" style="padding:10px;border:1px solid #eee;">
        <section id="socialLoginForm">
            <style type="text/css">
                .style1 {
                    color: #FF0000;
                }

                .style2 {
                    color: #FF0000;
                    font-size: x-large;
                }
            </style>
            <h3>
                Если вы являетесь нашим  клиентом, как частное лицо, вам надо связаться с отделом реализации АБЗ-4 
                с просьбой зарегиристрировать вас.
            </h3>

            <h3>
                Если вы не являетесь нашим  клиентом, то вы не сможете зарегистрироваться в личном кабинете.
                Вам надо связаться с отделом реализации АБЗ-4 и предоставить ему ваши реквизиты.
                Только после внесения вашей организации в нашу базу, вы сможете зарегистрироваться.
            </h3>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}