﻿@model IEnumerable<Domain.Entities.Person>

@{
    ViewBag.Title = "Контакты";
}

<p>
    @Html.ActionLink("Новый контакт", "Create", null,
                new
                {
                    @class = "actionButtons btn btn-default btn-success",
                    @role = "button",
                    @title = "Создать новый контакт"
                })
</p>
<table align="center" class="table table-hover table-bordered table-grey-header">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink(HttpUtility.HtmlDecode("&#xe065;"), "Edit", new { id = item.PersonId }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Редактировать контакт" })
            @Html.ActionLink(HttpUtility.HtmlDecode("&#xe015;"), "Details", new { id = item.PersonId }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Просмотр контакта" })
            @Html.ActionLink(HttpUtility.HtmlDecode("&#xe020;"), "Delete", new { id = item.PersonId }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Удалить контакт" })
        </td>
    </tr>
}

</table>
