﻿@model IEnumerable<Domain.Entities.Contract>

@{
    ViewBag.Title = "Договоры";
}
@if (Model.Count() > 0)
{
    <div class="table-responsive product-table-wrapper">
        <table class="table table-bordered table-hover product-table">
            @foreach (var item in Model)
    {
                <tr>
                    <td>
                        Договор
                        @Html.DisplayFor(modelItem => item.Num)
                    </td>
                </tr>
    }

        </table></div>
        }
        else
        {
        <h2>У вас нет действующих договоров</h2>}
