﻿@model IEnumerable<Domain.Entities.Trust>

@{
    ViewBag.Title = "Действующие доверенности";
}
@if (Model.Count() == 0)
{
    <h2>У вас нет действующих доверенностей</h2>
}
else
{
    <div class="table-responsive product-table-wrapper">
        <table class="table table-bordered table-hover product-table">
            <tr  style="background-color:#f3f3f3;">
                <th>
                    @Html.DisplayNameFor(model => model.Categ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Good)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Txt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dend)
                </th>
            </tr>

            @foreach (var item in Model)
    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Good)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Txt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dend)
                    </td>
                </tr>
    }
        </table>
        </div>
        }
