﻿@model Domain.ModelView.OrderView
@{
    ViewBag.Title = "Новый заказ";
}
@section metatags
{
    <meta name="description" content="@ViewBag.Title" />
    <meta name="keywords" content="@ViewBag.Title, АБЗ-4" />
    <meta name="robots" content="noindex, nofollow">
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/datetimepickercss")
    @Scripts.Render("~/bundles/datetimepickerjs")
}
<div class="row">
    <div class="col-md-12">
        <section id="orderForm" class="client-form">
            @using (Html.BeginForm("Create", "Order", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset>
                    @Html.HiddenFor(model => model.OrderId)
                    @Html.HiddenFor(model => model.CustId)
                </fieldset>
                <h2>Заказанные товары</h2>

                @*<p>
                    @Html.ActionLink(HttpUtility.HtmlDecode("&#xe081;"), "NewDetail", new { order =Model }, new { @class = "actionButtons btn btn-default glyphicon glyph-btn", @role = "button", @title = "Добавить в заказ еще товар" })
                </p>*@

                <p align="center">
                    <input class="actionButtons btn btn-xs-sm-md btn-success"  name="Gd" type="submit" value="Добавить товар" />
                </p>


                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-grey-header null-margin">
                        <thead>
                            <tr>
                                <th>
                                    Продукция
                                </th>
                                <th>
                                    Ед. изм.
                                </th>
                                <th>
                                    Количество
                                </th>
                                <th>
                                    Управление
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Detail)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => item.Good)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.Unit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.Quant)
                                    </td>
                                    <td>
                                        @Html.ActionLink(HttpUtility.HtmlDecode("&#xe065;"), "ChDetail", new { id = item.OrderDetailId, act = "Edit" }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Редактировать товар" })
                                        @Html.ActionLink(HttpUtility.HtmlDecode("&#xe020;"), "DelDetail", new { id = item.OrderDetailId }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Удалить товар" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <hr />
                <h2>Выберите дату</h2>
                <div class="form-group">
                    @Html.LabelFor(m => m.Dat, htmlAttributes: new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Dat, new { @class = "form-control datefield", @type = "text" })
                        @Html.ValidationMessageFor(m => m.Dat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <h2>Способ получения</h2>
                @*<div class="form-group">
                        @Html.LabelFor(model => model.Centr, htmlAttributes: new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.CheckBoxFor(model => model.Centr, new { @class = "form-control checkbox" })
                            @Html.ValidationMessageFor(model => model.Centr, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.AdresId, Model.SelectAdres, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
                        <p class="help-block">
                            <input name="Adr" type="submit" value="@HttpUtility.HtmlDecode("&#xe081;")" class="glyphicon actionButtons btn btn-xs-sm-md btn-default glyph-btn" role="button" title="Внести новый адрес" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Если вы хотите что бы доставку осуществил АБЗ-4
                            выберите из списка адрес доставки или внесите новый. Иначе выберите Самовывоз.
                        </p>
                    </div>
                </div>
                <hr />
                <h2>Данные клиента для заказа</h2>
                <div class="form-group">
                    @Html.LabelFor(model => model.Contract, htmlAttributes: new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.ContractId, Model.SelectContract, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Contract, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Person, htmlAttributes: new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.PersonId, Model.SelectPerson, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Person, "", new { @class = "text-danger" })
                        <p class="help-block">
                            <input name="Prs" type="submit" value="@HttpUtility.HtmlDecode("&#xe081;")" class="glyphicon actionButtons btn btn-xs-sm-md btn-default glyph-btn" role="button" title="Внести новый контакт" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* выберите из списка контакт или внесите новый"
                        </p>
                    </div>
                </div>
                <hr />
                <h2>Дополнительная информация к заказу</h2>
                <div class="form-group">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control multi-line", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                        <p class="help-block">* тут вы можете указать удобное для вас время доставки продукции и другие ваши пожелания</p>
                    </div>
                </div>
                <p>&nbsp;</p>
                <p align="center">
                    <input class="actionButtons btn btn-xs-sm-md btn-success" type="submit" value="Сохранить заказ" />
                </p>
            }
            <hr />
            <div>
                @Html.ActionLink(@HttpUtility.HtmlDecode("&laquo;") + " вернуться к списку заказов", "Index", null, new { @class = "btn btn-xs-sm-md btn-default", @role = "button", @title = "Вернуться к списку заказов" })
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#Dat').datetimepicker({
            locale: 'ru', format: 'DD.MM.YYYY'
        });
    });
</script>
@*<script type="text/javascript">
    if (!Modernizr.inputtypes.date) {
        $(function () {
            $("input[type='date']")
                .datetimepicker({
                    locale: 'ru',
                    format: 'DD.MM.YYYY'
                })
                .get(0)
                .setAttribute("type", "text");
        })
    };
</script>*@
