﻿@model Domain.Entities.Transport

@{
    ViewBag.Title = "Удаление транспорта";
}

<h3>Вы уверены что надо удалить транспорт?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TecModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TecModel)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку заказов", "Index")
        </div>
    }
</div>
