﻿@model IEnumerable<Domain.Entities.Transport>

@{
    ViewBag.Title = "Транспорт";
}


<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TecModel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Gn, "NewDriv", new { id = item.Gn }, null)

                @*@Html.DisplayFor(modelItem => item.Gn)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TecModel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Gn }) |
                @Html.ActionLink("Details", "Details", new { id = item.Gn }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Gn })
            </td>
        </tr>
    }

</table>

