﻿<div class="container">
    <p class="text-center back-to-top-wrap"><a class="back-to-top" href="#top"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp;Наверх</a></p>
    <div class="row">
        <adress class="hidden-xs col-sm-3 text-center vcard footer-menu-wrapper footer-info" itemscope itemtype="http://schema.org/Organization">
            <span class="category">Завод</span>&nbsp;
            <span class="fn org" itemprop="name">
                ОАО АБЗ-4
                <br />
                <img class="img-center img-logo-small" src="/images/logo-small.png" width="40" height="41" alt="Открытое Акционерное Общество Асфальто-Бетонный Завод № 4 'КАПОТНЯ'"
                     title="Открытое Акционерное Общество Асфальто-Бетонный Завод № 4 'КАПОТНЯ'">
                <b class="cl-orange">КАПОТНЯ</b>
            </span>
            <br /><br />
            <span class="adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span class="locality" itemprop="addressLocality">г. Москва</span>,
                <span class="street-address" itemprop="streetAddress">ул. Верхние Поля, д. 54</span>
            </span>
            <br />
            <span class="tel">
                <abbr class="value" title="+ 7 (495) 359-75-25" itemprop="telephone">(495) 359-75-25</abbr>
                <br />
                <abbr class="value" title="+ 7 (495) 359-72-00" itemprop="telephone">(495) 359-72-00</abbr>
            </span>
            <br /><br />
            <a class="url" href="http://www.abz4.ru" title="http://www.abz4.ru" itemprop="url">http://www.abz4.ru</a>
            <br />
            <a class="email" href="mailto:abz4@abz4.ru" title="abz4@abz4.ru" itemprop="email">abz4@abz4.ru</a>
            <br /><br />
            <label class="designed">&#169;K&K Design</label>
        </adress>
        <div class="col-xs-6 col-sm-offset-1 col-sm-4 footer-menu-wrapper">
            <ul class="nav nav-pills nav-stacked footer-menu">
                <li class="navbar-header">КЛИЕНТАМ</li>
                <li>
                    <a href="http://abz4.ru/category/pricelist/" title="Прайс-лист" role="button">Прайс-лист</a>
                </li>
                <li>
                    <a href="http://abz4.ru/home/calcprod/" title="Расчет количества асфальта для укладки" role="button">Расчет асфальта</a>
                </li>
                <li>
                    <a href="http://abz4.ru/docs/" title="Документация" role="button">Документация</a>
                </li>
                <li>
                    <a href="http://abz4.ru/home/delivery/" title="Доставка продукции клиентам" role="button">Доставка продукции</a>
                </li>
                <li>
                    <a href="http://abz4.ru/home/itdepartament/" title="IT-услуги" role="button">IT-услуги</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-4 clearfix footer-menu-wrapper ">
            <ul class="nav nav-pills nav-stacked footer-menu">
                <li class="navbar-header">ИНФОРМАЦИЯ</li>
                <li>
                    <a href="http://abz4.ru/home/contact/" title="Контакты ОАО АБЗ-4 'КАПОТНЯ'" role="button">Контакты</a>
                </li>
                <li>
                    <a href="http://abz4.ru/news/" title="Список новостей" role="button">Новости</a>
                </li>
                <li>
                    <a href="http://abz4.ru/home/partners/" title="Наши партнеры" role="button">Партнеры</a>
                </li>
                <li>
                    <a href="http://abz4.ru/home/about/" title="О нашем предприятии" role="button">О нас</a>
                </li>
            </ul>
        </div>
    </div>
</div>