﻿@model Domain.Entities.Adres

@{
    ViewBag.Title = "Новый адрес";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.txt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.txt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.txt, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <hr />
            @Html.ActionLink(@HttpUtility.HtmlDecode("&laquo;") + " вернуться к списку адресов", "Index", null, new { @class = "btn btn-xs-sm-md btn-default", @role = "button", @title = "Вернуться к списку адресов" })
            &nbsp;&nbsp;&nbsp;
            <input type="submit" value="Сохранить" class="actionButtons btn btn-xs-sm-md btn-success" />
        </div>
    </div>
}