﻿@model Domain.ModelView.OrderView
@{    
    ViewBag.Title = ViewBag.Order; /*+" №  " + Model.OrderId;*/
}
@section metatags
{
    <meta name="description" content="@ViewBag.Title" />
    <meta name="keywords" content="@ViewBag.Title, АБЗ-4" />
    <meta name="robots" content="noindex, nofollow">
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/datetimepickercss")
    @Scripts.Render("~/bundles/datetimepickerjs")
}
<div class="row">
    <div class="col-md-12">
        <section id="orderForm" class="client-form">
            @using (Html.BeginForm("Booking", "Invoice", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset>
                    @Html.HiddenFor(model => model.OrderId)
                    @Html.HiddenFor(model => model.CustId)
                    @Html.HiddenFor(model => model.Dat)
                </fieldset>

                <h2>Заказанные товары</h2>
                <p class="help-block">
                    <input name="Gd" type="submit" value="Добавить товар" class="actionButtons btn btn-xs-sm-md btn-default btn-success" role="button" title="Добавить товар" />
                </p>

                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-grey-header null-margin">
                        <thead>
                            <tr>
                                <th>
                                    Продукция
                                </th>
                                <th>
                                    Ед. изм.
                                </th>
                                <th>
                                    Количество
                                </th>
                                <th>
                                    Управление
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Detail)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => item.Good)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.Unit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.Quant)
                                    </td>
                                    <td>
                                        @Html.ActionLink(HttpUtility.HtmlDecode("&#xe065;"), "ChDetail", new { id = item.OrderDetailId, act = "Edit" }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Редактировать товар" })
                                        @Html.ActionLink(HttpUtility.HtmlDecode("&#xe020;"), "DelDetail", new { id = item.OrderDetailId }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Удалить товар" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <hr />
                @*<h2>Способ получения</h2>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.AdresId, Model.SelectAdres, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
                        <p class="help-block">
                            <input name="Adr" type="submit" value="@HttpUtility.HtmlDecode("&#xe081;")" class="glyphicon actionButtons btn btn-xs-sm-md btn-default glyph-btn" role="button" title="Внести новый адрес" />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 
                            * Если вы хотите что бы доставку осуществил АБЗ-4
                            выберите из списка адрес доставки или внесите новый и установите галочку у способа доставки. Иначе снимите галочку со способа доставки.                        </p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Contract, htmlAttributes: new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.ContractId, Model.SelectContract, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Contract, "", new { @class = "text-danger" })
                    </div>
                </div>
                <h2>Дополнительная информация к счету</h2>
                <div class="form-group">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control multi-line", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                        <p class="help-block">* тут вы можете указать удобное для вас время доставки продукции и другие ваши пожелания</p>
                    </div>
                    @Html.LabelFor(model => model.isOnlinePay, htmlAttributes: new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">                        
                        @Html.CheckBoxFor(model => model.isOnlinePay, new { @class = "form-control checkbox" })
                        <p class="help-block">* тут вы можете указать оплату через интернет</p>
                    </div>
                </div>
                <div>
                    <hr />
                    @Html.ActionLink(@HttpUtility.HtmlDecode("&laquo;") + " вернуться к списку счетов", "Index", null, new { @class = "btn btn-xs-sm-md btn-default", @role = "button", @title = "Вернуться к списку счетов" })
                    &nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Сохранить заказ" class="actionButtons btn btn-xs-sm-md btn-success" />
                </div>
            }
        </section>
    </div>
</div>


