﻿@model WebUI.Models.TransportList

@{
    ViewBag.Title = "Транспорт";
}


<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Гос. № 
        </th>
        <th>
            Модель
        </th>
    </tr>

@foreach (var item in Model.Trans) {
    <tr>
        <td>
            @Html.ActionLink(item.Gn, Model.Action, Model.Controller, new { gn = item.Gn }, null)
        </td>
        <td>
            @Html.ActionLink(item.TecModel, Model.Action, Model.Controller, new { gn = item.Gn }, null)
        </td>
    </tr>
}

</table>
