﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "clearfix" }))
    {
        @Html.AntiForgeryToken()

        <ul class="clearfix nav navbar-nav navbar-right top-login">
            <li>
                @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            @*<li>
                <a href="#">
                    <span class="glyphicon glyphicon-cog"></span>
                    &nbsp;
                    Настройка профиля
                </a>
            </li>*@
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="log-out">
                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Выход
                </a>
            </li>
        </ul>
    }
}