﻿@using WebUI.Helpers
@model WebUI.Models.TtnList

@if (Model.Ttns.Any())
{
    <div id="selectttn">
        <p>
            <br/>
            <a href="@Url.Action("Export")" class = "btn btn-xs-sm-md btn-default btn-primary" role = "button" title = "Скачать реестр в Excel">
                <span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;скачать реестр в Excel
            </a>
        </p>
            @*@if (Model.PageInfo.itemsCount > Model.PageInfo.pageSize)
            {
                @Html.PageNavigatorBootStrap(Model.PageInfo, "Index", x => new { pageNum = x })
            }*@
        <div class="table-responsive product-table-wrapper">
            <table class="table table-hover table-bordered table-grey-header">
                <thead>
                    <tr>
                        <th>
                            №
                        </th>
                        <th>
                            Дата
                        </th>
                        <th>
                            Время
                        </th>
                        <th>
                            Продукция
                        </th>
                        <th>
                            Адрес
                        </th>
                        <th>
                            Кол-во
                        </th>
                        <th>
                            Цена
                        </th>
                        <th>
                            Сумма
                        </th>
                        <th>
                            Автомобиль
                        </th>
                        <th>
                            Автобаза
                        </th>
                        <th>
                            Гос. №
                        </th>
                        <th>
                            Водитель
                        </th>
                    </tr>
                </thead>

                    @foreach (var item in Model.Ttns)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Num)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tm)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Good)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adres)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Kol)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sm)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amodel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ab)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Driv)
                            </td>
                        </tr>
                    }
</table>
            </div>
                    @if (Model.PageInfo.itemsCount > Model.PageInfo.pageSize)
            {
                        @Html.PageNavigatorBootStrap(Model.PageInfo, "Index", x => new { pageNum = x })
            }
        </div>
        }
        else
        {
        <div id="selectttn"><h2>Нет данных за выбранный период!</h2></div>
        }
