﻿@model Domain.Entities.CustomInfo

@{
    ViewBag.Title = "Рассылка документов";
}

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isEmpty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isEmpty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.CustomInfoId }) 
    
</p>
