﻿@model Domain.Entities.TrustTecV
@{
    ViewBag.Title = "Добавление доверенного транспорта";
}
@section metatags
{
    <meta name="description" content="@ViewBag.Title" />
    <meta name="keywords" content="@ViewBag.Title, АБЗ-4" />
    <meta name="robots" content="noindex, nofollow">
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/datetimepickercss")
    @Scripts.Render("~/bundles/datetimepickerjs")
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal client-form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BeginDat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BeginDat, new { @class = "form-control datefield dateselector", @type = "text" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndDat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EndDat, new { @class = "form-control datefield dateselector", @type = "text" })
            </div>
        </div>

        <p class="help-block">
            <input name="Tr" type="submit" value="Добавить транспорт" 
                   class="actionButtons btn btn-xs-sm-md btn-default btn-success" 
                   role="button" title="Добавить транспорт" />
        </p>

        <div class="table-responsive">
            <table class="table table-hover table-bordered table-grey-header null-margin">
                <thead>
                    <tr>
                        <th>
                            Водитель
                        </th>
                        <th>
                            Гос. №
                        <th>
                            Модель
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Detail)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.Driv)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Gn)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.TecModel)
                            </td>
                            <td>
                                @*@Html.ActionLink(HttpUtility.HtmlDecode("&#xe065;"), "ChDetail", new { id = item.OrderDetailId, act = "Edit" }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Редактировать товар" })
                                @Html.ActionLink(HttpUtility.HtmlDecode("&#xe020;"), "DelDetail", new { id = item.OrderDetailId }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Удалить товар" })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <h2>Дополнительная информация к доверенности</h2>
        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Note, new { @class = "form-control multi-line", @rows = "3" })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                <p class="help-block">* тут вы можете указать особые условия</p>
            </div>
        </div>
        <div>
            <hr />
            @Html.ActionLink(@HttpUtility.HtmlDecode("&laquo;") + " вернуться к списку доверенного транспорта", "Index", null, new { @class = "btn btn-xs-sm-md btn-default", @role = "button", @title = "Вернуться к списку доверенного транспорта" })
            &nbsp;&nbsp;&nbsp;
            <input type="submit" value="Сохранить" class="actionButtons btn btn-xs-sm-md btn-success" />
        </div>
    </div>
}
<script type="text/javascript">
            $(function () {
                $('.dateselector').datetimepicker({
                    locale: 'ru', format: 'DD.MM.YYYY'
                });
            });
    </script>