﻿@model int

@{
    ViewBag.Title = "Реквизиты";

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "custlist",
        Url = Url.Action("MyAjax"),
        LoadingElementId = "loading"
    };

}

<div id="loading" style="display: none; color: Red; font-weight: bold">
    <p>Подождите, идет получение данных...</p>
</div>

@using (Ajax.BeginForm(ajaxOpts))
{
    @Html.DropDownList("SelectedId", (SelectList)ViewData["Cust"], new { onchange = "$(this.form).submit();" })
}

<h3>Персональные данные</h3>

@Html.Action("MyAjax", new { id = Model })