﻿@model WebUI.Models.MyMenu
<div class="container-fluid main-menu-wrapper">
    <div class="container">
        <nav class="navbar-collapse collapse">
            <ul class="nav navbar-nav main-menu" role="menu" id="mainmenu">
                @foreach (var link in Model.NavMenu)
            {
                if ((link.Roles == "All") | (link.Roles == "") | (link.Roles == null))
                {


                        <li role="menuitem" class="@Html.Encode(link.Selected ? "active" : "")">
                            @Html.RouteLink(link.Title, new
               {
                   controller = link.Controller,
                   action = link.Action,
               },
                     new
                     {
                         @role = "button"
                     })
                        </li>
                    }
                    else
                    {
                        if (User.IsInRole(link.Roles))
                        {
                            <li role="menuitem" class="@Html.Encode(link.Selected ? "active" : "")">
                                @Html.RouteLink(link.Title, new
                       {
                           controller = link.Controller,
                           action = link.Action,
                       },
                         new
                         {
                             @role = "button"
                         })
                            </li>
                        }
                    }
                }

            </ul>
        </nav>
    </div>
</div>
<div class="container sub-main-menu-wrapper">
    <nav class="navbar-collapse collapse">
        @if (Model.SubMenu != null)
            {
            <ul class="nav navbar-nav sub-main-menu" role="menu">
                @foreach (var item in Model.SubMenu)
                {
                    <li role="menuitem" class="@Html.Encode(item.Selected ? "active" : "")">
                        @Html.RouteLink(item.Title, new
               {
                   controller = item.Controller,
                   action = item.Action,
               },
         new
         {
             @role = "button"
         })
                    </li>
                }
            </ul>
        }
    </nav>
</div>
