﻿@model IEnumerable<Domain.Entities.Comment>

@{
    ViewBag.Title = "Обращения";
}
<p>
    @Html.ActionLink("Создать новое сообщение", "Create", null,
                new
                {
                    @class = "actionButtons btn btn-default btn-success",
                    @role = "button",
                    @title = "Создать новое сообщение"
                })
</p>
<div class="row">
    <div class="col-md-12">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div>
                    <div class="form-group">
                        <div class="col-md-9">
                            @Html.DisplayFor(model => item.Note, new { @class = "form-control" })
                            @if (User.IsInRole("Admin"))
                            {
                                <p>
                                    @Html.ActionLink("Ответить", "Answer", new { id = item.CommentId })
                                </p>
                            }
                        </div>
                    </div>
                    @if (!String.IsNullOrWhiteSpace(item.Response))
                    {
                        <div class="form-group">
                            <div class="col-md-9">
                                @Html.DisplayFor(model => item.Response, new { @class = "form-control" })
                            </div>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <h3>У вас не было обращений</h3>
        }
    </div>
</div>
